@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 238, 180);
}

header {
    background-image: linear-gradient(to bottom, #6ae2a0, #044722);
    text-align: center;
    color: white;
    padding: 40px;
}

header > h1 {
    font-family: 'Bebas Neue', cursive; 
    font-weight: normal;
    font-size: 50px;
}

header > nav {
    text-align: left;
}

header > nav > a {
    text-align: left;
    text-decoration: none;
    color: white;
    padding: 8px;
}

header > nav > a:hover {
    text-decoration: underline;
    
}

main {
    background-color: white;
    margin: 0% 17%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 3px 6px 4px #00000052;
}

main > h2 {
    background-color: rgb(209, 243, 209);
}

.title {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

article {
    background-color: rgb(217, 243, 217);
    
}

article > aside > h2 {
    background-color: green;
}

footer {
    background-color: #044722;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

footer > p {

}